name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: build and test
        shell: bash
        run: |
          apt-get update -qq && apt-get install -y python3-psutil
          rsync -av ./ /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws
          source /opt/ros/humble/setup.bash
          bash ./src/mypkg/test/test.bash
